/*- Backside -*/
.side-back {
    z-index: 2;
    padding: 32px;
    text-align: center;
    transform: rotateY(180deg);

    .card{
        display: inline-block;
        margin-right: 20px;
    }
}

/*- Social links -*/
nav {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px; 
    width: 80%;
}
